@media (max-width: 1200px) {
    .center {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
    }

    .header {
        &__title {
            width: 500px;
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0px;
        }

        &__text {
            width: 400px;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
        }

        &__button {
            width: 285px;
            height: 55px;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            letter-spacing: 0%;
        }
    }

    .about {
        display: none;
    }

    .game__title {
        text-align: center;
    }

    .games__content {
        flex-direction: row;
        gap: 32px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .games {
        margin-top: 48px;
        padding-bottom: 48px;
        background-image: none;

        &__title {
            font-size: 40px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0px;
            margin-bottom: 48px;
        }

        &__content {
            gap: 24px;
            align-items: center;
        }
    }

    .game {
        height: auto;
        width: 343px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;

        &__wrapper {
            width: 343px;
            padding: 29px;
            display: flex;
            flex-direction: column;
        }

        &__img {
            width: 343px;
            height: 285px;
        }

        &__game-title {
            width: 285px;
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
            letter-spacing: 0px;
            margin-bottom: 16px;
        }

        &__desc {
            width: 285px;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            margin-bottom: 32px;
        }

        &__button {
            width: 285px;
            height: 55px;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            letter-spacing: 0%;
        }

        &__button:hover {
            border: 1px solid $lighter-black;
            background: $lighter-black;
            color: $white;
        }
    }

    .game:nth-of-type(even) {
        flex-direction: column-reverse;
    }
}

@media (max-width: 768px) {
    .center {
        padding-left: calc(50% - 355px);
        padding-right: calc(50% - 355px);
    }
}